<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title><%= @title %></title>
	<meta name="generator" content="TextMate http://macromates.com/">
	<meta name="author" content="Phil Hawksworth">
	<link rel="stylesheet" href="/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>
	<div id='metadata'>
		<h1 id='boardName'><%= @title %></h1>
		<dl>
			<!-- <dt class='modifier'>Last modified by</dt>
			<dd class='modifier'></dd> -->
			<dt class='modified'>Last modified:</dt>
			<dd class='modified'></dd>
		</dl>
	
	</div>
	<div id='controls'>
		<a href='#' class='addCategory'>new category</a>
		<a href='#' class='add' title='Add a new card to the board'>new card</a>
	</div>
	<div id='board'></div>
	<p>dustbin</p>
	<ul id='dustbin'></ul>
	<a href="#" id='delete'>Delete this board (careful...!)</a>
	<a href="#" id='toggleImport'>Import/Export</a>
	<div id='dataSource'>	
		<textarea id='json'></textarea>
		<a href="#" id='import'>Import</a>
	</div>
	<div id="footer">
		<ul>
			<li>Pinboard version 0.1 was built by <a href="http://hawksworx.com/" title="PhilHawksworth" rel="me">Phil Hawksworth</a> with <a href="http://jquery" title='jQuery'>jQuery</a>, <a href="http://www.sinatrarb.com/" title="Sinatra">Sinatra</a> and a sprinkling of open web goodness.</li>
			<li>fork me: <a href='http://github.com/philhawksworth/pinboard'>http://github.com/philhawksworth/pinboard</a></li>
			<li>follow me: <a href='http://twitter.com/philhawksworth' rel="me">http://twitter.com/philhawksworth</a></li>
		</ul>
		
	</div>
	<script type="text/javascript" charset="utf-8">
		
		var data = <%= @data %>;
		var uri = "/boards/<%= @title %>.json";
		
	</script>

	<script src="/jquery-1.3.2.js" type="text/javascript" charset="utf-8"></script>
	<script src="/jquery-ui-1.7.1.custom.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/jquery.json-1.3.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/theboard.js" type="text/javascript" charset="utf-8"></script>

</body>
</html>
